h1 a{
    margin-left:10px;
    color: #FCA205;
}

table.center-table, th {
    margin-left:10px;
    text-align: center;
}

table.purchase-table, th {
    margin-left:30px;
    text-align:center;
}

table.border-spaced {
    border-spacing:10px;
}


