{% load staticfiles %}
<html>
    <head>
        <title> Scrip Tracking </title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <!--    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'> -->
        <link rel="stylesheet" href="{% static 'css/tally.css' %}">
    </head>
    <body>
        <div>
            <h1><a href="/tally/">Scrip Tally</a></h1>
        </div>
        <div align='right'>
            <a href='/'>Main Home </a> |
            <a href='/tally/login?next=/tally/'> Login </a> | 
            <a href='/tally/logout'> Logout</a>
        </div>
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
