{% load staticfiles %}
<html>
    <head>
        <title> Scrip Tracking </title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <!--    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'> -->
        <link rel="stylesheet" href="{% static 'css/tally.css' %}">
    </head>
    <body>
        <div>
            <h1><a href="/tally/">Scrip Tally</a></h1>
        </div>
        <div>
            <p style='text-align:left; margin-left:10px; margin-right:10px'>
            <a href='/tally/students/'>Students </a> |
            <a href='/tally/businesses/'> Businesses </a> | 
            <a href='/tally/purchases/'> Purchases </a> | 
            <a href='/'> Main Index </a>
                <span style='float:right'>        
                    <a href='/accounts/login?next=/tally/'> Login </a> | 
                    <a href='/accounts/logout'> Logout</a>
                    <br/>
                    {% if username  %}
                        Logged in as: {{ username }}
                    {% else %}
                        Not logged in
                    {% endif %}
                </span>
            </p>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
