{% load staticfiles %}
<html>
    <head>
        <title> Scrip Tracking </title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <!--    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'> -->
        <link rel="stylesheet" href="{% static 'css/tally.css' %}">
    </head>
    <body>
        <div>
            <h1><a href="/tally/">Scrip Tally</a></h1>
        </div>
        <div align='right'>
            <a href='/'>Main Home </a> |
            <a href='/accounts/login?next=/tally/'> Login </a> | 
            <a href='/accounts/logout'> Logout</a>
        </div>
        <div>
            <p align='right'>
            {% if username  %}
                Logged in as: {{ username }}
            {% else %}
                Not logged in
            {% endif %}
            </p>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
