{% extends 'tally/base.html' %}

{% block content %}
    <p align='right'>
    {% if loggedin_username  %}
        Logged in as: {{ loggedin_username }}
    {% else %}
        Not logged in
    {% endif %}
    </p>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}




    <h1> Tally Index </h1>

    <ul>
        <li><a href="{% url 'tally:students' %}">Students</a></li>
        <li><a href="{% url 'tally:businesses' %}">Businesses</a></li>
        <li><a href="{% url 'tally:purchases' %}">Purchases</a></li>
    </ul>
{% endblock %}
