{% extends 'tally/base.html' %}

{% block content %} 
    <p align='right'>
    {% if loggedin_username  %}
        Logged in as: {{ loggedin_username }}
    {% else %}
        Not logged in
    {% endif %}
    </p>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}




   <h1> All Students </h1>


    <a href="{% url 'tally:add_student' %}">Add a new student</a>

    {% if student_list %}
        <ul>
            {% for student in student_list %}
                <li><a href="{% url 'tally:student_detail' student.id %}">{{ student.full_name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No Student listed...</p>
    {% endif %}

{% endblock %}

