{% extends 'tally/base.html' %}

{% block content %}
    <p align='right'>
    {% if loggedin_username  %}
        Logged in as: {{ loggedin_username }}
    {% else %}
        Not logged in
    {% endif %}
    </p>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


    <h2 style="margin-left:10px"> {{ student.full_name.title }} </h2>
    <table border="1" style="float:left; margin-left:10px; margin-right:100px; text-align:center">
        <col width=120>
        <col width=120 >
        <caption><strong> -- Student info -- </strong></caption>
        <tr><th> Enrolled  </td><td> {{ student.enrolled }} </td></tr>
        <tr><th> Phone      </td><td> {{ student.phone }} </td></tr>
        <tr><th> Homeroom  </td><td> {{ student.homeroom }} </td></tr>
        <tr><th> Adults    </td><td> {% if student.adults %}{{ student.adults }}{% endif %}</td></tr>  
    </table> 


    <table border="1" class="center-table" style="float:center">
        <col width="60">
        <col width="75">
        <col width="75">
        <caption><strong> -- Purchase Amounts -- </strong> </caption>
        <tr><th>        </th><th>    Total         </th><th> This Year </th></tr>
        <tr><th> Spent  </th><td> ${{ total_spent }}  </td><td> ${{ thisyear_spent }}</td></tr>
        <tr><th> Earned </th><td> ${{ total_earned }} </td><td> ${{ thisyear_earned }}</td></tr>
    </table>

    <br/>
    <br/>
    <table border="1" class="purchase-table">
        <col width="10">
        <col width="300">
        <col width="75">
        <col width="75">
        <caption><strong> -- Purchases
                          <a href={% url 'tally:add_purchase_student' student.id %}>add new</a>
                          -- </strong></caption>
        <tr><th> No. </th><th> Desc. </th><th> Amount </th><th> Date </th></tr>
        {% for pur in purchases %}
          <tr>
            <th> {{ forloop.counter }}</th>
            <td> <a href={% url 'tally:purchase_detail' pur.id %}>{{ pur }}</a></td>
            <td> {{ pur.amount }} </td>
            <td>{{pur.purchase_date.month}}/{{pur.purchase_date.day}}/{{pur.purchase_date.year}} </td>
          </tr>
        {% endfor %}


{% endblock %}
